<app-layout>
  <div class="wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon mat-card-avatar>offline_bolt</mat-icon>
        <mat-card-title>
          <h4>Super Heroes</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="cover-img" routerLink="/heroes" src="https://images.icanvas.com/2d/MRV558.jpg" alt="Heroes">
      <img mat-card-image src="https://secure.img1-fg.wfcdn.com/im/80634294/resize-h800-w800%5Ecompr-r85/3573/35739356/%2527Comics+Avengers+Symbols%2527+by+Marvel+Comics+Wall+Art+on+Wrapped+Canvas.jpg" alt="Heroes">
      <mat-card-actions>
        <button mat-button routerLink="/heroes">View All Heroes</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar="">grade</mat-icon>
        <mat-card-title>
          <h4>Super Powers</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="cover-img" routerLink="/powers" src="https://images.icanvas.com/2d/MRV502.jpg" alt="Powers">
      <img mat-card-image src="https://images.icanvas.com/2d/MRV529.jpg" alt="Powers">
      <mat-card-actions>
        <button mat-button routerLink="/powers">View All Powers</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout>